table{
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
}
tr{
  height: 100px;
  border: 1px solid black;
}
td{
  width: 100px;
  border: 1px solid black;
  text-align: center;
}

.jumbotron{
  text-align: center;
}
